[Unit]
Description=MongoDB Database Server
Documentation=https://docs.mongodb.org/manual
After=network.target

[Service]
User=mongod
Group=mongod
ExecStart=/usr/local/bin/mongod --config /path/to/conf/mongod.conf
PIDFile=/path/to/pid/mongod.pid
LimitNOFILE=64000
TimeoutStartSec=600
PermissionsStartOnly=true
# Restart options to restart automatically on failure
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

