[mysqld]

user=mysql

port=3306

default-storage-engine=INNODB

character-set-server=utf8mb4

datadir=/var/lib/mysql/

socket=/var/lib/mysql/mysql.sock

default_authentication_plugin=mysql_native_password

symbolic-links=0

max_connections=1024

lower_case_table_names=0

max_allowed_packet=16M

default-time_zone='+8:00'

# 开启binlog
log-bin=/var/lib/mysql/binlog 

# log-bin=mysql-bin 

# 当前server在cluster中的id，必须保证在cluster中唯一
server-id=2

log-bin=mysql-bin

relay_log=relay-log

read_only=ON

[client]

default-character-set=utf8mb4

socket=/var/lib/mysql/mysql.sock

[mysql]

default-character-set=utf8mb4

socket=/var/lib/mysql/mysql.sock
